import Schema from '$lib/schemas/lib'; // Load schema constructor

const exampleSchema = new Schema({  // model your data
    title: {
        type: String,
        required: true
    },
    text: {
        type: String,
        required: true
    },
    image: String,
    order: Number
})

export {
    exampleSchema // export schema for later use in config
};