import Config from './definitions';
// Add your schema imports here
// @ts-ignore
import { importedSchma } from "$lib/schemas/schemas";

// CMS config
const index = new Config({
    adminAccounts: ['account@service.top'],
    collections: [{
        name: 'collectionName',
        schema: importedSchma,
        // optional
        sortBy: {
            property: 'age',
            sort: 'asc'
        }
    }]
})

export default index;
